<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/main.css') }} />
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/instructions.css') }} />
    <script type="text/javascript" language="Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
     <script type="text/javascript" language="Javascript" src="https://code.jquery.com/jquery-3.0.0.min.js""></script>
    <script src={{ url_for('static', filename='js/bg.js') }} language="Javascript" type="text/javascript"></script>   
    <script src={{ url_for('static', filename='js/instructions.js') }} language="Javascript" type="text/javascript"></script>
    <script src={{ url_for('static', filename='js/render.js') }} language="Javascript" type="text/javascript"></script>
    <script type="text/javascript">
        var $subject = '{{subject_id}}';
    </script>
    
    <title> </title> 
</head>
<body>
    <div id='background'>
        
        <div id=wrap>
        <div class="inst" id=pane-1>
            <header><h4>Thanks for participating in our research!</h4></header>
            <br>     
            <p>This study is comprised of a short task and some questions. It's conducted by researchers
            at the University of Pittsburgh (USA) and Royal Holloway University (UK). Our goal is to learn
            more about decision-making. It should take more or less 8 minutes to complete.</p>
            <br>
            <p> Your participation is voluntary and your responses are anonymous. No one will be able to
            track your answers back to you. Please make sure to mark your Amazon Profile as private if you
            do not want to be identified from your worker ID.</p>
            <br>
            <p>Questions? Please contact Felipe A. Araujo at f.araujo@pitt.edu</p>
        </div>
        
        <div class="inst" id=pane-2>
            <p>This is an experimental study about decision-making. On top of the ${{fixed_payment}} for completing the
            study, you can receive an additional payment based on your choices. This additional payment will
            only be available to participants that correctly answer a few comprehension questions prior to
            the start of the study.</p>
            <br>
            <p>In the following pages we will explain the experimental task, how you make decisions, and how
            the extra payment is determined.</p>
            <br>
            <p>Any extra payment will be deposited as a bonus on MTurk within 3 days.</p>
        </div>
        
        <div class="inst" id=pane-3>
            <p>The study will use cards containing a certain number (1, 2, 3, or 4) of a
            particular symbol (triangle, square, circle, or star) with a specific color (purple, orange,
            red, or blue). Considering all possible values for [number, symbol, color] we end up
            with a deck of 4x4x4=64 unique cards.</p>
            <br>
            <p>As an example, four of those cards are shown below:</p>
            
                <div id=cards_for_instructions>
                    <svg class="card display_card" data-card="[0,0,0]"></svg>
                    <svg class="card display_card" data-card="[1,1,1]"></svg>
                    <svg class="card display_card" data-card="[2,2,2]"></svg>
                    <svg class="card display_card" data-card="[3,3,3]"></svg>
                </div>
                
        </div> 
        
        
        <div class="inst" id=pane-4>
            <p>Even though the entire deck has 64 cards, during the experiment you will work with 12 cards at a time. Your goal is to use those
            12 cards to form groups of 3 cards satisfying a simple property. Any combination of 3 cards
            satisfying that property is called a <span class=hl>SET</span>.</p>
            
            <br>
            
            <p>The property that defines a <span class=hl>SET</span> is this: A <span class=hl>SET</span> is
             any combination of 3 cards such that each attribute (number, symbol, and color) is either:
             <br><br>
             &#8226;  the same for <b> all </b> three cards, or,
             <br>
             &#8226;  is different for <b> each </b> of the three cards.
             </p>
            <br>
            
            <p>The next few pages show examples of 3-card combinations that <b>do</b> and <b>do not</b> form
            a <span class=hl>SET</span>.</p>
        </div>
        
        <div class="inst" id=pane-5>
             <header><h4>Example 1</h4></header>
             <br>
             <p>The following 3 cards form a <span class=hl>SET</span>:</p>  
            <div id=cards_for_instructions>
                <svg class="card display_card" data-card="[2,0,3]"></svg>
                <svg class="card display_card" data-card="[2,1,3]"></svg>
                <svg class="card display_card" data-card="[2,2,3]"></svg>
            </div>
            <p>That's because all cards have the <b>same</b> color (orange), the <b>same</b> number of symbols
            (4), and <b>different</b> symbols (from left to right: triangle, square, and circle).</p>
        </div>
        <div class="inst" id=pane-6>
             <header><h4>Example 2</h4></header>
             <br>
             <p>The following 3 cards also form a <span class=hl>SET</span>:</p>  
            <div id=cards_for_instructions>
                <svg class="card display_card" data-card="[2,0,2]"></svg>
                <svg class="card display_card" data-card="[1,0,3]"></svg>
                <svg class="card display_card" data-card="[0,0,0]"></svg>
            </div>
            <p>And that's because all cards have the <b>same</b> symbol (triangle), <b>different</b> colors
            (from left to right: orange, red, and blue), and <b>different</b> number of symbols
            (from left to right: 3, 4, and 1).</p>
        </div> 
                <div class="inst" id=pane-7>
             <header><h4>Example 3</h4></header>
             <br>
             <p>The following 3 cards, on the other hand, do <b>NOT</b> form a <span class=hl>SET</span>:</p>  
            <div id=cards_for_instructions>
                <svg class="card display_card" data-card="[1,0,0]"></svg>
                <svg class="card display_card" data-card="[3,2,1]"></svg>
                <svg class="card display_card" data-card="[2,2,2]"></svg>
            </div>
            <p>Even though the middle and right-most cards have circles, the left-most card has a triangle.
            Hence, for the attribute symbol, the cards are neither all the same nor all different. Note 
            that the cards are all different with respect to color and number.</p>
        </div>
                
        <div class="inst" id=pane-8>
             <p>There will be <b>two</b> rounds in the experiment, and in each round you will see a 12-card deck that was randomly selected
                from a larger list of 12-card decks. You will have 120 seconds to form <span class=hl>SET</span>s in each round.
                You can form a <span class=hl>SET</span> by clicking on the cards to select, and you can click a selected card to un-select it.</p>
             <br>
             <p>If you select 3 cards that form a <span class=hl>SET</span>, it will be registered on the
                right side of your screen. If you select 3 cards that do not form a <span class=hl>SET</span>,
                you will incur a 5-second penalty. And if you select the same <span class=hl>SET</span> more
                than once, you will also incur a 5-second penalty. Therefore, you should not randomly click
                on cards in the hopes of finding a <span class=hl>SET</span>.</p>
        </div>
        
        <div class="inst" id=pane-9>
            <header><h4>Comprehension Questions and Payment</h4></header>
            <br>
            <p>We'll now ask you a few comprehension questions. We'll show you five different
            combinations of 3 cards and ask you if they form a <span class=hl>SET</span>:</p>
            <br>
            <ul>
                <li>
                If you get two or more questions wrong, the study ends and you receive ${{fixed_payment}}.
                </li>
                <li>
                If you answer all questions correctly, you'll receive ${{fixed_payment}} for completing the study and
                an extra ${{piecerate}} per valid <span class=hl>SET</span> you find during the experiment.
                </li>
            </ul>
        </div>
        
        
        <div class="submit" id=prev>Prev</div>
        <div class="submit" id=next>Next</div>
        </div>
        <div id=subject_id_box> Subject#: {{subject_id}}{{treatment_version}}</div>
    </div>
</body>
</html>