<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/main.css') }} />
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/quiz.css') }} />
     <script type="text/javascript" language="Javascript" src="https://code.jquery.com/jquery-3.0.0.min.js""></script>
    <script src={{ url_for('static', filename='js/bg.js') }} language="Javascript" type="text/javascript"></script>   
    <script src={{ url_for('static', filename='js/instructions.js') }} language="Javascript" type="text/javascript"></script>

    <script src={{ url_for('static', filename='js/render.js') }} language="Javascript" type="text/javascript"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        var $subject = '{{subject_id}}';
    </script>
    
    <title> </title>
</head>

<body>
    <div id='background'>
        
        

    <div class=question id=q1>
        <svg class="card c1 display_card" data-card="[0,0,0]"></svg>
        <svg class="card c2 display_card" data-card="[1,1,1]"></svg>
        <svg class="card c3 display_card" data-card="[2,3,3]"></svg>
    </div>

    <div class=question id=q2>
        <svg class="card c1 display_card" data-card="[1,2,3]"></svg>
        <svg class="card c2 display_card" data-card="[3,2,1]"></svg>
        <svg class="card c3 display_card" data-card="[0,0,0]"></svg>
    </div>

    <div class=question id=q3>
        <svg class="card c1 display_card" data-card="[1,2,1]"></svg>
        <svg class="card c2 display_card" data-card="[2,1,3]"></svg>
        <svg class="card c3 display_card" data-card="[1,3,1]"></svg>
    </div>

    <div class=question id=q4>
        <svg class="card c1 display_card" data-card="[0,1,3]"></svg>
        <svg class="card c2 display_card" data-card="[1,2,0]"></svg>
        <svg class="card c3 display_card" data-card="[2,3,1]"></svg>
    </div>

    <div class=question id=q5>
        <svg class="card c1 display_card" data-card="[2,1,0]"></svg>
        <svg class="card c2 display_card" data-card="[2,1,2]"></svg>
        <svg class="card c3 display_card" data-card="[2,0,3]"></svg>
    </div>

            <div id=adminenter>

                 
    <form method='POST' name='survey' enctype='multipart/form-data' action='/quizval'>



    <div class=answer id=a1> 
    <input type="radio" name="set1" id="set1" value=1 required>
    <label for="set1"><span>Set </span></label>
    <input type="radio" name="set1" id="noset1" value=0 required>
    <label for="noset1"><span>Not a Set </span></label>
    </div>

    <div class=answer id=a2> 
    <input type="radio" name="set2" id="set2" value=0 required>
    <label for="set2"><span>Set </span></label>
    <input type="radio" name="set2" id="noset2" value=1 required>
    <label for="noset2"><span>Not a Set </span></label>
    </div>

    <div class=answer id=a3> 
    <input type="radio" name="set3" id="set3" value=0 required>
    <label for="set3"><span>Set </span></label>
    <input type="radio" name="set3" id="noset3" value=1 required>
    <label for="noset3"><span>Not a Set </span></label>
    </div>

    <div class=answer id=a4> 
    <input type="radio" name="set4" id="set4" value=1 required>
    <label for="set4"><span>Set </span></label>
    <input type="radio" name="set4" id="noset4" value=0 required>
    <label for="noset4"><span>Not a Set</span></label>
    </div>

    <div class=answer id=a5> 
    <input type="radio" name="set5" id="set5" value=0 required>
    <label for="set5"><span>Set </span></label>
    <input type="radio" name="set5" id="noset5" value=1 required>
    <label for="noset5"><span>Not a Set </span></label>
    </div>



    <input type="hidden" name="subject_id" value={{ subject_id }}>
    <input type="submit" value="Continue" class=submit id=submit>


    </form>

    </div>
        <div id=subject_id_box> Subject#: {{subject_id}}</div>

    </div>
</body>
</html>
