<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/main.css') }} />
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/risk.css') }} />
     <script type="text/javascript" language="Javascript" src="https://code.jquery.com/jquery-3.0.0.min.js""></script>
     <script type="text/javascript" language="Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
    <script src={{ url_for('static', filename='js/bg.js') }} language="Javascript" type="text/javascript"></script>   
    <script src={{ url_for('static', filename='js/risk.js') }} language="Javascript" type="text/javascript"></script> 
    <script src={{ url_for('static', filename='js/render.js') }} language="Javascript" type="text/javascript"></script>   
    <script type="text/javascript">
        var $subject = '{{subject_id}}';
        var $prize_multiplier = '{{prize_multiplier}}';
        var $token_value = '{{token_value}}';

    </script>
    
    <title> </title>
</head>

<body>
    <div id='background'>

    <div id=wrap>
  
             <div class="inst" id=pane-1>
                
                <h2>Task 2</h2>
                <br>
                <h4>How does it work?</h4>
                <br>
                <ol>
                    <li>You just received an additional $1.00 for passing the comprehension quiz</li>
                    <li>You must decide how much of this additional $1.00 to <b>keep safe</b> and how much to <b>bet</b> in a lottery</li>
                    <li>You can bet any amount from $0.00 to $1.00</li>
                </ol>
                <br>
                <h4> How do you earn money?</h4>
                <br>
                The amount of money you make will depend on your choices and on chance. You never lose the amount you <b>keep safe</b>,
                but there are two possible outcomes for the amount you <b>bet</b>:
                <br>
                <ul>
                    <li>GOOD outcome: you earn <b>two and a half times</b> the amount you bet</li>
                    <li>BAD outcome: you <b>lose</b> the amount you bet</li>
                </ul>
                <br>
                See examples on the next page.
                
            </div>
             
             <div class="inst" id=pane-2>
                
                <h4>Example 1</h4>
                
                <br>
                
                You <b>bet</b> $0.10 and <b>keep safe</b> the remaining $0.90:
                <ul>
                    <li>In the GOOD outcome you end up with $0.10 * 2.5 + $0.90 = $1.15</li>
                    <li>In the BAD outcome you end up with $0.90</li>
                </ul>
                <br>
                
                <h4>Example 2</h4>
                
                <br>
                
                You <b>bet</b> $0.90 and <b>keep safe</b> the remaining $0.10:
                <ul>
                    <li>In the GOOD outcome you end up with $0.90 * 2.5 + $0.10 = $2.35</li>
                    <li>In the BAD outcome you end up with $0.10</li>
                </ul>
                <br>
                The next page explains the chance component of the lottery.
                
            </div>
    
            <div class="inst" id=pane-3>
            
            {%if context%}
            
                {%if unaware%}

                <p>Recall that you found {{select_len / 2}} SETs.</p>
                
                {%endif%}
            
                {%if not unaware%}

                <p>Recall that you found {{select_len / 2}} SETs out of {{den}} possible SETs.</p>
            
                {%endif%}
                        
            <p>Below you can see {{select_len}} SETs, half of which you found and half of which you did not find. </p>

            <div id='set_feedback'>
                    
                {% for sets in sel_array %}
        
                <div class="set_fb{%if sets[3]==1%} found{%endif%}">
                        <svg class="card display_card" data-card='{{sets[0]}}'></svg>
                        <svg class="card display_card" data-card='{{sets[1]}}'></svg>
                        <svg class="card display_card" data-card='{{sets[2]}}'></svg>
                </div>      
                {% endfor %}
            </div>
            
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            
            We will randomly select 1 of the {{select_len}} SETs. Each SET has the same chance of being selected. If the randomly selected SET is one you found,
            the GOOD outcome realizes. If the randomly selected SET is not one you found, the BAD outcome realizes. 
        
            {%endif%}
            
            {%if not context%}
                            
            <p>We will toss a virtual and fair coin to determine which outcome realizes.</p>
            <br>
            <p>
                If the coin turns up <b>heads</b>, the GOOD outcomes realizes.
            </p>
            <br>
            <div>
                
                <img src="https://s3.us-east-2.amazonaws.com/araujofa/HEADS.png" alt="Heads" height="115" width="115">
                
            </div>
            <br>
            <p>
                If the coin turns up <b>tails</b>, the BAD outcomes realizes.
            </p>
            <br>
            <div>
                
                <img src="https://s3.us-east-2.amazonaws.com/araujofa/TAILS.png" alt="Tails" height="115" width="115">
                
            </div>
            
            {%endif%}
            </div>
    
            <div class="inst" id=pane-4>
                                
                <p>
                    The actual randomization will be done using public and verifiable means. Especifically, it will use future results from the Pennsylvania Lottery.
                </p>
                <br>
                <p>
                    For more details, please e-mail Felipe A. Araujo at f.araujo@pitt.edu or check this study registration at the American Economic Association website.
                </p>
            </div>    
            
            <div class="inst" id=pane-5>
                         
            <form method='POST' name='risk' enctype='multipart/form-data' action={{action}}>
    
                  Please use the slider to decide how much of the 100 cents to <b>keep safe</b> and how much to <b>bet</b>
        
            <br><br>
                <div id=checked>
                    <input name="percent" type="range" min="0" max="100" value="50" class="slider" id="percent">
                </div>
                
        
            <input type="hidden" name="subject_id" value={{ subject_id }}>
    
            </form>
    
            <div class=al id=L-al><b>Bet</b><br><span id="p">??</span></div>
            <div class=al id=C-al><b>Keep safe</b>: <br> <span id="q">??</span></div>
            <div id=out>
                <br><br>
                {%if context%}
                If randomly selected set is one you found,
                {%endif%} 
                {%if not context%}
                If coin toss turn up heads,
                {%endif%}
                you will make: <span id="win">??</span> <br>
                Otherwise, you will make: <span id="lose">??</span> <br>
            </div>
    
    
            </div>
    
        <div class="submit" id=prev>Prev</div>
        <div class="submit" id=next>Next</div>

    </div>

    <div id=subject_id_box> Subject#: {{subject_id}}</div>

    </div>
</body>
</html>
