<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/main.css') }} />
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/set.css') }} />
    <script type="text/javascript" language="Javascript" src="https://code.jquery.com/jquery-3.0.0.min.js""></script>
    <script src={{ url_for('static', filename='js/set.js') }} language="Javascript" type="text/javascript"></script>
    <script src={{ url_for('static', filename='js/bg.js') }} language="Javascript" type="text/javascript"></script>
    <script src={{ url_for('static', filename='js/render.js') }} language="Javascript" type="text/javascript"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        var $subject = '{{subject_id}}';
        var foundSets = {{foundIDarray}};
        var diff_seconds = {{diff_seconds}};
    </script>
    <title> </title>
</head>

<body>
    <div id='background'>

    <div id=hand>
        {% for i in range(9) %}
        <svg id="card{{i|string}}" class="card display_card" data-cardID="{{handIDarray[i]}}" data-card="{{handarray[i]}}"></svg>
        {% endfor %}
    </div>

    <div id=foundsets>
    <table  id=output-table-header>
                    <col width="33%" />
                    <col width="33%" />
                    <col width="33%" />
                    <tr>
                        <td> Card 1 </td>
                        <td> Card 2</td>
                        <td> Card 3</td>
                    </tr>
  </table>


<table class=fixed_header_table id=output-table>
                    <col width="33%" />
                    <col width="33%" />
                    <col width="33%" />
    {% for sets in foundarray %}
    <tr>
            <td class='foundcard'>
                <svg class='card'  data-card='{{sets[0]}}'></svg>
            </td>
            <td class='foundcard'>
                <svg class='card' data-card='{{sets[1]}}'></svg>
            </td>
            <td class='foundcard'>
                <svg class='card'  data-card='{{sets[2]}}'></svg>
            </td>
    </tr>
    {% endfor %}
    
</table>
    </div>
    
<div id=set_prompt><div id=entertextprompt>That was not a set!</div><div id=time_penalty>00</div></div>

<div id=subject_id_box> Subject#: {{subject_id}}; Time: <span id=timer></span></div>

<form method='POST' enctype='multipart/form-data' action='/survey' name=endform>
    <input type="hidden" value={{subject_id}} class=submit name="subject_id">
    <input type="hidden" value={{found_sets_num}} id="found_count_inuput" class=submit name="found_num">
</form>

    </div>
</body>
</html>
