

#entertextprompt{
    width: 70%;
    height: 15%;
    top: 15%;
    left: 15%;
    text-align: center;
    position: fixed;
    font-size: 40%;
}


#word-input{
    width: 38%;
    height: 5%;
    top: 35%;
    right: 35.5%;
    text-align: center;
    position: fixed;
    font-size: 40%;
}

.submit{
    color:rgb(132,188,232);
    position: fixed;
    border: none;
    font-size: 30%;
    cursor: pointer;
    width: 10%;
    height: 5%;
    top:90%;
    left:80%;
}

#submit{
    left: 65%;
}

#set_feedback{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 10%;
    top: 20%;
    width: 90%;
    height: 65%;
/*     overflow:scroll; */
}

.set_fb{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    max-width: 22%;
    height:14%;
    background: black;
    margin: 2px;
    border: 2px solid #002b36;
}

.display_card{
    border: 2px solid #073642;
    background: #839496;
    border-radius: 3px;
}

.found{
    background: #d00505;
    border: 2px solid #d00505;
}

.found .display_card{
    border: 2px solid #d00505;
    background: #FFC107
}

.loginsubmit{
    top: 35%;
}



/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 500px) {

    #entertextprompt{
    top: 15%;
    font-size: 50%;
}

    .submit{
    position: fixed;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 100%;
    height: 10%;
    width: 100%;
    left: 0%;
    top: 90%;
}

#word-input{
    width: 70%;
    height: 8%;
    top: 35%;
    right: 15%;
    text-align: center;
    position: fixed;
    font-size: 75%;
}

}




