#submit{
    position:fixed;
    top: 88%;
    right: 5%;
    width: 15%;
    height: 5%;
    padding-top: 3px;
    border-radius: 4px;
}

input[type="radio"] {
    opacity: 0;
}

input[type="radio"] + label span {
    cursor:pointer;
    display: inline-block;
    border-radius:  5px;
    color:#b58900;
    background-color:#002b36;
    padding: 4px;
    text-align: center;
    min-width: 130px;
}

#adminenter{
  position: fixed;
  left: 10%;
  top: 10%;
  font-size: 30%
}


input[type="radio"]:checked + label span{
     background-color:#b58900;
     color: #002b36;
}


input[type="number"]{
    display: inline-block;
    border-radius:  5px;
    margin-left: 10px;
    color:#b58900;
    padding: 4px;
    text-align: center;
    font-size: 100%
}

.submit{
  font-size: 100%;
}

.hl{
    color: #dc322f;
}

.display_card{
  position: relative;
  width: 28%;
  height: 70%;
  border: 2px solid #073642;
  background: #839496;
  border-radius: 3px;
}

.question{
  position: fixed;
  left: 10%;
  height: 18%;
  width: 40%;
}

.answer{
  position: fixed;
  left: 50%;
  height: 20%;
  width: 40%;
}

#q1{
    top: 5%;
}

#q2{
    top: 23%;
}

#q3{
    top: 41%;
}

#q4{
    top: 59%;
}

#q5{
    top: 77%;
}




#a1{
    top: 10%;
}


#a2{
    top: 28%;
}

#a3{
    top: 46%;
}

#a4{
    top: 64%;
}

#a5{
    top: 82%;
}
