#submit{
    top: 105%;
    right: 10%;
    width: 20%;
    height: 15%;
    padding-top: 3px;
    border-radius: 4px;
}

.inst{
   display: none;
   height: 100%;
   
}

.al{
  position: fixed;
  width: 30%;
  height: 15%;
  top: 30%;
  text-align: center;
}

#C-al{
  left: 18%;
}

#L-al{
  right: 18%;
}

#out{
  position: fixed;
  height: 20%;
  top: 55%
}

.al span{
  font-size: 200%;
}

input[type="range"]:focus{
    outline: none;
    border-bottom: none;
}

input[type="range"]:focus::-webkit-slider-thumb{
    background-color:#b58900;
}

input[type="range"]:focus::-moz-range-thumb{
    background-color:#b58900;
}

.submit{
  font-size: 100%;
}

.hl{
    color: #dc322f;
}

.slidecontainer {
    width: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 0.7;
}

.checked .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
}

.checked .slider::-moz-range-thumb {
    width: 15px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}


@media only screen and (max-width : 500px) {

#adminenter{
  position: fixed;
  left: 3%;
  width: 90%;
  top: 5%;
  font-size: 40%
}

#submit{
    color:rgb(132,188,232);
    position: fixed;
    top: 90%;
    width: 100%;
    height: 10%;
    right: 0;
    padding-top: 6px;
    border: none;
    font-size: 200%;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
}

}