@font-face {
font-family: Inconsolata;
src: url(/static/fonts/Inc.otf);
}


*{
    padding: 0;
    margin: 0;
    font-family: Inconsolata;
}

#background{
    width: 100%;
    height: 100%;
    position: fixed;
}

input:focus{
    outline: none;
    border-bottom: 2px solid #b58900;
}

input{
    position: absolute;
    text-transform: uppercase;
    border: none;
    font-size: 50%
}

#set_prompt{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #cb4b16;
	display: none;
	opacity: .95;
}

#entertextprompt{
    width: 70%;
    height: 15%;
    top: 25%;
    left: 15%;
    text-align: center;
    position: fixed;
    font-size: 40%;
}

#word-input{
    width: 38%;
    height: 5%;
    top: 35%;
    right: 35.5%;
    text-align: center;
    position: fixed;
    font-size: 40%;
}

#time_penalty{
	position:fixed;
	top: 35%;
	left: 45%;
	text-align: left;
}


.submit{
    color:rgb(132,188,232);
    position: fixed;
    border: none;
    font-size: 30%;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 10%;
    height: 5%;
    top:35%;
    left:65%;
}

#subject_id_box{
    position: fixed;
    bottom: 1%;
    left: 70%;
    font-size: 25%;
    text-align: left;
}

#hand{
	position: fixed;
	width: 70%;
	height: 70%;
	top: 10%;
	left:3%;
}

#foundsets{
	position: fixed;
	width: 20%;
	height: 80%;
	top: 10%;
	right:1%;
    overflow-x: hidden;
    font-size: 25%;
    text-align: center;
}

.display_card{
	position: absolute;
	width: 20%;
	height: 25%;
	border: 3px solid #073642;
	background: #839496;
	cursor: pointer;
	border-radius: 5px;
}

.clicked{
  border: 3px solid #d33682;
  background: #657b83;
} 

#card0{
	top: 0%;
	left: 10%;
}

#card1{
	top: 0%;
	left: 40%;
}

#card2{
	top: 0%;
	left: 70%;
}

#card3{
	top: 40%;
	left: 10%;
}

#card4{
	top: 40%;
	left: 40%;
}

#card5{
	top: 40%;
	left: 70%;
}

#card6{
	top: 80%;
	left: 10%;
}

#card7{
	top: 80%;
	left: 40%;
}

#card8{
	top: 80%;
	left: 70%;
}


#output-table{ 
	position: absolute;
	top: 70px;
    left: 0%;
    width: 100%;
	}

#output-table td{ 
		height: 50px;
	}

#output-table tr{ 
	background: #839496;
	}


#output-table-header{
	position: absolute;
    left: 0%;
    height: 70px;
    width: 100%;
    z-index: +1;
    border-bottom: 2px solid #fdf6e3;
    background-color: #fdf6e3;

}


SVG {
	position: relative;
	height: 50px;
	max-width: 100%;
}


.inst{
	display: none;
	position: fixed;
	left: 15%;
	top: 15%;
	height: 70%;
    width: 70%;
    font-size: 60%;
}

#pane-1{
	display: block;
}



